{% include 'base.html' %}

<body>
    <div class="wrapper">

        {% include 'route/sidebar.html' %}

        <div id="content">
            <div class="container-fluid">
                <div class="card-body">
                    <div class="text-center mb-4" style="margin-bottom: 1rem!important;">
                        <h4 style="background-color: #264653; color: #fff; padding: 10px;">IFAD Nature of The Complaint / Complainants Information</h4>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center mb-4 border-div">
                                <h5 style="color: #264653; padding: 10px; margin-bottom: 0;">Table List</h5>
                            </div>
                            <table id="complaintsTable">
                                <tr>
                                    <th>Complainant</th>
                                    <th>Choose SECAP</th>
                                    <th>Number of Complainants</th>
                                    <th>Are you nationals of the concerned country or living in the area?</th>
                                </tr>
                                <tr id="row1">
                                    <td>Blank</td>
                                    <td>Blank</td>
                                    <td>Blank</td>
                                    <td>Blank</td>
                                </tr>
                                <tr id="row2">
                                    <td>Blank</td>
                                    <td>Blank</td>
                                    <td>Blank</td>
                                    <td>Blank</td>
                                </tr>
                                <tr id="row3">
                                    <td>Blank</td>
                                    <td>Blank</td>
                                    <td>Blank</td>
                                    <td>Blank</td>
                                </tr>
                                <tr id="row4">
                                    <td>Blank</td>
                                    <td>Blank</td>
                                    <td>Blank</td>
                                    <td>Blank</td>
                                </tr>
                                <tr id="row5">
                                    <td>Blank</td>
                                    <td>Blank</td>
                                    <td>Blank</td>
                                    <td>Blank</td>
                                </tr>
                                <tr id="row6">
                                    <td>Blank</td>
                                    <td>Blank</td>
                                    <td>Blank</td>
                                    <td>Blank</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        document.getElementById("sidebarCollapse").addEventListener("click", function() {
            document.getElementById("sidebar").classList.toggle("active");
            closeAllSubmenus();
        });

        document.querySelectorAll('.list-unstyled.components .dropdown-toggle').forEach(function(item) {
            item.addEventListener('click', function() {
                document.getElementById("sidebar").classList.add("active");
            });
        });

        function closeAllSubmenus() {
            document.querySelectorAll("#sidebar .collapse.show").forEach(function(element) {
                element.classList.remove("show");
            });
        }
        
    </script>
</body>
