<!DOCTYPE html>
<html lang="en">

<body>

    <div class="container-fluid">
        <div class="card"> 
               <div class="col-md-12">         
                  <div class="card-body">
                      <div class="container">
                          <p class="text-center" style="background-color: #264653; color:#ffffff;  padding: 10px;">Please provide the names and/or description of other individuals or groups that support the complaint (If any):</p>
                          <div class="table-responsive">
                              <table class="table table-bordered">
                                  <thead>
                                      <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Title/Affiliation</th>
                                        <th>Contact Information</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                      </tr>
                                      <tr>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                      </tr>
                                      <tr>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                      </tr>
                                      <tr>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                      </tr>
                                      <tr>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                      </tr>
                                      <tr>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                      </tr>
                                      <tr>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                        <td><input type="name" style="background-color: ghostwhite;" required></td>
                                      </tr>
                                      <!-- More rows as needed -->
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div> 
          </div>
       </div>


</body>
</html>