  {% include 'base.html' %}

<body>

  <title>IFAD Form</title>

<div class="wrapper">

  {% include 'route/sidebar.html' %}

<div id="content">
  <div class="card-body">
  <h5 class="text-center" style="background-color: #264653; color:#ffffff; padding: 10px;">IFAD Complaints procedure & the enhanced complaints procedure submission form </h5>
  <div class="text-center mb-4">
    <label>Alleged non-compliance with its social and environmental policies and mandatory aspects of its social, environmental and climate assessment procedures (SECAP)</label>
  </div>
  <br>

  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <!-- i) NATURE OF THE COMPLAINT -->
        <div class="row">
          <div class="col-md-6">
            <h5 id="nature-complaint-title" class="text-center mb-4" style="background-color: #264653; color:#ffffff; padding: 10px;">I. Nature of The Complaint</h5>
            <div class="dropdown">
              <div class="form-group">
                <label id="complaint-type-label">What complaint are you making to IFAD? (Choose the one(s) applicable to your complaint)</label>
                <select id="complaint-type" class="form-control" style="background-color: ghostwhite;" required>
                  <option value="" disabled selected>choose your option</option>
                  <option>Complaint relating to individuals/communities believing they are or may be adversely affected by an IFAD funded project </option>
                  <option>Complaint relating to IFAD's failure to apply its Social and Environmental Policies </option>
                  <option>Complaint relating to IFAD's failure to apply the Mandatory Aspects of </option>
                </select>
              </div>
            </div>
            <br>
            <div class="dropdown">
              <div class="form-group">
                <label id="secap-label">Choose SECAP</label>
                <select id="secap" class="form-control" style="background-color: ghostwhite;" required>
                  <option value="" disabled selected>choose your option</option>
                  <option>SECAP 2015</option>
                  <option>SECAP 2017</option>
                  <option>SECAP 2021</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h5 id="complainant-info-title" class="text-center mb-4" style="background-color: #264653; color:#ffffff; padding: 10px;">II. Complainants Information</h5>
            <form action="/action_page.php">
              <label for="quantity">a) How many Complainants are you? (You must be 2 in order for the Complaint to be admissible)</label>
              <input id="complainant-quantity" type="number" name="quantity" min="2" placeholder="Enter number" class="form-control" style="background-color: ghostwhite;" required>
            </form>
            <br>
            <div class="form-group">
              <label id="nationality-label">b) Are you nationals of the concerned country or living in the area? (Complainants must be nationals of the country concerned and/or living in the project area)</label>
              <select id="nationality" class="form-control" style="background-color: ghostwhite;" required>
                <option value="" disabled selected>choose your option</option>
                <option>YES</option>
                <option>NO</option>
              </select>
            </div>
          </div>
        </div>
        <br>
            <!-- iii) CONFIDENTIALITY -->
            <h5 id="confidentiality-title" class="text-center mb-4" style="background-color: #264653; color:#ffffff; padding: 10px;">III. Confidentiality</h5>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="option-a">a) The identity of complainants will be kept confidential if they request so of IFAD</label>
                  <select id="confidentiality-option-a" class="form-control" style="background-color: ghostwhite;" required>
                    <option value="" disabled selected>choose your option</option>
                    <option>YES</option>
                    <option>NO</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="option-b">b) Do you want your identity to be kept confidential?</label>
                  <select id="confidentiality-option-b" class="form-control" style="background-color: ghostwhite;" required>
                    <option value="" disabled selected>choose your option</option>
                    <option>YES</option>
                    <option>NO</option>
                  </select>
                </div>
              </div>
            </div>
            <div>
              <label id="confidentiality-option-c-label">c) If YES, please state why. If NO, please avail your details below</label>
              <input id="confidentiality-option-c" type="text" class="form-control" style="background-color: ghostwhite;" required placeholder="Enter text">
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h5 id="complainant-info-title-2" class="text-center mb-4" style="background-color: #264653; color:#ffffff; padding: 10px;">IV. Complainants' information</h5>
            <div class="row">
              <div class="col-md-6">
                <h5 id="complainant-1-title" class="text-center mb-4" style="background-color: #264653; color:#ffffff; padding: 10px;">A) Complainant 1</h5>
                <!-- Complainant 1 information -->
                <div class="row">
                  <div class="col-md-6">
                    <label id="complainant-1-fullname-label">Full Name</label>
                    <input id="complainant-1-fullname" type="text" class="form-control" placeholder="Enter Name" style="background-color: ghostwhite;" required>
                  </div>
                  <div class="col-md-6">
                    <label id="complainant-1-title-label">Title</label>
                    <input id="complainant-1-title" type="text" class="form-control" placeholder="Enter Title" style="background-color: ghostwhite;" required>
                  </div>
                </div>
          
                <div class="row">
                  <div class="col-md-6">
                    <label id="complainant-1-organization-label">Organisation</label>
                    <input id="complainant-1-organization" type="text" class="form-control" placeholder="Enter Organisation" style="background-color: ghostwhite;" required>
                  </div>
                  <div class="col-md-6">
                    <label id="complainant-1-phone-label" for="num1">Phone Number</label>
                    <input id="complainant-1-phone" type="tel" class="form-control" placeholder="(+63XX XXXX XXX)" maxlength="11" id="num1" style="background-color: ghostwhite;" required>
                  </div>
                </div>
    
    
                <label id="complainant-1-email-label">Email</label>
                <input id="complainant-1-email" type="email" class="form-control" placeholder="Enter Email" style="background-color: ghostwhite;" required>
              </div>
              <div class="col-md-6">
                <h5 id="location-title" class="text-center mb-4" style="background-color: #264653; color:#ffffff; padding: 10px;">Location</h5>

                <label id="complainant-1-address-label">Your address/location</label>
                <input id="complainant-1-address" type="text" class="form-control" placeholder="Enter Addresss/Location" style="background-color: ghostwhite;" required>

                <label id="complainant-1-mailing-address-label">Mailing Address (if different)</label>
                <input id="complainant-1-mailing-address" type="text" class="form-control" placeholder="Enter Mailing Address" style="background-color: ghostwhite;" required>

                <label id="complainant-1-additional-guidance-label">Additional guidance on how to locate you (if applicable)</label>
                <input id="complainant-1-additional-guidance" type="text" class="form-control" placeholder="Enter Additional Guidance" style="background-color: ghostwhite;" required>
              </div>
            </div>
          </div>
        </div>
      </div>
    <br>

    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h5 id="complainant-2-title" class="text-center mb-4" style="background-color: #264653; color:#ffffff; padding: 10px;">B) Complainant 2</h5>
              <!-- Complainant 2 information -->
              <div class="row">
                <div class="col-md-6">
                  <label id="complainant-2-fullname-label">Full Name</label>
                  <input id="complainant-2-fullname" type="text" class="form-control" placeholder="Enter Name" style="background-color: ghostwhite;" required>
                </div>
                <div class="col-md-6">
                  <label id="complainant-2-title-label">Title</label>
                  <input id="complainant-2-title" type="text" class="form-control" placeholder="Enter Title" style="background-color: ghostwhite;" required>
                </div>
              </div>
    
              <div class="row">
                <div class="col-md-6">
                  <label id="complainant-2-organization-label">Organisation</label>
                  <input id="complainant-2-organization" type="text" class="form-control" placeholder="Enter Organisation" style="background-color: ghostwhite;" required>
                </div>
                <div class="col-md-6">
                  <label id="complainant-2-phone-label" for="num2">Phone Number</label>
                  <input id="complainant-2-phone" type="tel" class="form-control" placeholder="(+63XX XXXX XXX)" maxlength="11" id="num2" style="background-color: ghostwhite;" required>
                </div>
              </div>
    
              <label id="complainant-2-email-label">Email </label>
              <input id="complainant-2-email" type="email" class="form-control" placeholder="Enter Email" style="background-color: ghostwhite;" required>
            </div>
            <div class="col-md-6">
              <h5 id="location-2-title" class="text-center mb-4" style="background-color: #264653; color:#ffffff; padding: 10px;">LOCATION</h5>

              <label id="complainant-2-address-label">Your address/location</label>
              <input id="complainant-2-address" type="text" class="form-control" placeholder="Enter Addresss/Location" style="background-color: ghostwhite;" required>

              <label id="complainant-2-mailing-address-label">Mailing Address (if different) </label>
              <input id="complainant-2-mailing-address" type="text" class="form-control" placeholder="Enter Mailing Address" style="background-color: ghostwhite;" required>

              <label id="complainant-2-additional-guidance-label">Additional guidance on how to locate you (if applicable)</label>
              <input id="complainant-2-additional-guidance" type="text" class="form-control" placeholder="Enter Additional Guidance" style="background-color: ghostwhite;" required>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  
    <div class="container-fluid">
      <div class="card">
        <div class="col-md-12">
          <div class="card-body">
            <div class="container">
              <p id="supporting-complaint-label" class="text-center" style="background-color: #264653; color:#ffffff;  padding: 10px;">Please provide the names and/or description of other individuals or groups that support the complaint (If any):</p>
              <div class="table-responsive">
                <table id="supporting-complaint-table" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Title/Affiliation</th>
                      <th>Contact Information</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input type="name" id="supporting-complaint-first-name-1" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-last-name-1" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-title-affiliation-1" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-contact-info-1" style="background-color: ghostwhite;" required></td>
                    </tr>
                    <tr>
                      <td><input type="name" id="supporting-complaint-first-name-2" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-last-name-2" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-title-affiliation-2" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-contact-info-2" style="background-color: ghostwhite;" required></td>
                    </tr>
                    <tr>
                      <td><input type="name" id="supporting-complaint-first-name-3" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-last-name-3" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-title-affiliation-3" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-contact-info-3" style="background-color: ghostwhite;" required></td>
                    </tr>
                    <tr>
                      <td><input type="name" id="supporting-complaint-first-name-4" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-last-name-4" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-title-affiliation-4" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-contact-info-4" style="background-color: ghostwhite;" required></td>
                    </tr>
                    <tr>
                      <td><input type="name" id="supporting-complaint-first-name-5" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-last-name-5" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-title-affiliation-5" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-contact-info-5" style="background-color: ghostwhite;" required></td>
                    </tr>
                    <tr>
                      <td><input type="name" id="supporting-complaint-first-name-6" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-last-name-6" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-title-affiliation-6" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-contact-info-6" style="background-color: ghostwhite;" required></td>
                    </tr>
                    <tr>
                      <td><input type="name" id="supporting-complaint-first-name-7" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-last-name-7" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-title-affiliation-7" style="background-color: ghostwhite;" required></td>
                      <td><input type="name" id="supporting-complaint-contact-info-7" style="background-color: ghostwhite;" required></td>
                    </tr>
                    <!-- More rows as needed -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 id="ifad-project-title" class="text-center mb-4" style="background-color: #264653; color:#ffffff; padding: 10px;">V. IFAD Project / programme of concern and nature of concern</h5>
          <label id="ifad-project-concern-label">a) Which IFAD-supported project/programme are you concerned about? (please provide the Project/Programme name, if known):</label>
          <input id="ifad-project-concern" type="text" class="form-control" style="background-color: ghostwhite;" required>

          <label id="ifad-project-description-label">b) Please provide a short description of your concerns about the project/programme. Please describe, as well, the types of Environmental and Social impacts that may occur, or have occurred, as a result.</label>
          <textarea id="ifad-project-description" class="form-control mb-2" rows="3" placeholder="Enter text" style="background-color: ghostwhite;" required></textarea>

          <label id="ifad-project-situation-label">c) When did the situation that raised your concerns start developing? (Please note that complaints must concern projects/programmes currently under design/implementation. Complaints concerning projects/programmes that preceded the operationalization of SECAP in 1/1/2015, projects that have been closed for a period of 24 months or more will not be eligible).</label>
          <textarea id="ifad-project-situation" class="form-control mb-2" rows="3" placeholder="Enter text" style="background-color: ghostwhite;" required></textarea>
        </div>
      </div>
    </div>
  <br>

  <div class="container-fluid">
    <!-- vi) PROJECT LEVEL -->
    <div class="card mb-4">
      <div class="card-body">
        <h5 id="project-level-title" class="text-center mb-4" style="background-color: #264653; color:#ffffff; padding: 10px;">VI. Project Level</h5>
        <!-- Input fields for project level concerns -->

        <div>
          <label id="raised-complaint-label">a) Have you raised your complaint with government representatives or NGO(s) responsible for planning or executing the project or programme or the Lead Agency or any other agency acting on behalf of IFAD?</label>
          <select id="raised-complaint" class="form-control" style="background-color: ghostwhite;" required>
            <option value="" disabled selected>choose your option</option>
            <option>YES</option>
            <option>NO</option>
          </select>
        </div>

          <br>

           <label style="font-weight: bold;">If Yes,</label>

<div class="table-responsive" id="complaint-table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Title/Affiliation</th>
                <th>Estimated Date of Contact</th>
                <th>Nature of Communication</th>
                <th>Response from the Individual</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="name" id="complaint-first-name-1" style="background-color: ghostwhite;" required></td>
                <td><input type="name" id="complaint-last-name-1" style="background-color: ghostwhite;" required></td>
                <td><input type="name" id="complaint-title-affiliation-1" style="background-color: ghostwhite;" required></td>
                <td><input type="date" id="complaint-date-1" style="background-color: ghostwhite;" required></td>
                <td><input type="name" id="complaint-nature-1" style="background-color: ghostwhite;" required></td>
                <td><input type="name" id="complaint-response-1" style="background-color: ghostwhite;" required></td>
            </tr>
            <tr>
              <td><input type="name" id="complaint-first-name-2" style="background-color: ghostwhite;" required></td>
              <td><input type="name" id="complaint-last-name-2" style="background-color: ghostwhite;" required></td>
              <td><input type="name" id="complaint-title-affiliation-2" style="background-color: ghostwhite;" required></td>
              <td><input type="date" id="complaint-date-2" style="background-color: ghostwhite;" required></td>
              <td><input type="name" id="complaint-nature-2" style="background-color: ghostwhite;" required></td>
              <td><input type="name" id="complaint-response-2" style="background-color: ghostwhite;" required></td>
          </tr>
          <tr>
            <td><input type="name" id="complaint-first-name-3" style="background-color: ghostwhite;" required></td>
            <td><input type="name" id="complaint-last-name-3" style="background-color: ghostwhite;" required></td>
            <td><input type="name" id="complaint-title-affiliation-3" style="background-color: ghostwhite;" required></td>
            <td><input type="date" id="complaint-date-3" style="background-color: ghostwhite;" required></td>
            <td><input type="name" id="complaint-nature-3" style="background-color: ghostwhite;" required></td>
            <td><input type="name" id="complaint-response-3" style="background-color: ghostwhite;" required></td>
        </tr>
        <tr>
          <td><input type="name" id="complaint-first-name-4" style="background-color: ghostwhite;" required></td>
          <td><input type="name" id="complaint-last-name-4" style="background-color: ghostwhite;" required></td>
          <td><input type="name" id="complaint-title-affiliation-4" style="background-color: ghostwhite;" required></td>
          <td><input type="date" id="complaint-date-4" style="background-color: ghostwhite;" required></td>
          <td><input type="name" id="complaint-nature-4" style="background-color: ghostwhite;" required></td>
          <td><input type="name" id="complaint-response-4" style="background-color: ghostwhite;" required></td>
      </tr>
                          <!-- More rows can be added here if needed -->
      </tbody>
    </table>
</div>
          
              <div>
                <label for="complaint-unsatisfactory-response">b) Please explain why, if the response or actions taken are not satisfactory.</label>
                <input type="text" id="complaint-unsatisfactory-response" class="form-control" placeholder="Enter Text" style="background-color: ghostwhite;" required>
              </div>
              <div>
                <label for="complaint-resolution">c) How do you wish to see the complaint resolved? Do you have any other matters, evidence, or facts (including supporting documents) that you would like to share?</label>
                <input type="text" id="complaint-resolution" class="form-control" placeholder="Enter Text" style="background-color: ghostwhite;" required>
              </div>
              <br>          
           </div>
         </div>
       </div>
     </div> 
   <br>

  <!-- vii) IFAD Level -->
<div class="container-fluid">
  <div class="card mb-4">
      <div class="card-body">
          <h5 class="text-center mb-4" style="background-color: #264653; color: #ffffff; padding: 10px;">VII. IFAD Level</h5>
          <!-- Input fields for IFAD level concerns -->

          <div class="form-group">
              <label for="ifad-disagreement">a) Do you disagree with the response from the IFAD Country team and Regional Division in relation to your complaint?</label>
              <select id="ifad-disagreement" class="form-control" style="background-color: ghostwhite;" required>
                  <option value="" disabled selected>Choose your option</option>
                  <option>YES</option>
                  <option>NO</option>
              </select>
          </div>

          <label for="ifad-response-details">b) Please provide the details of the response from the IFAD Country Team and Regional Division in relation to your complaint</label>
          <textarea id="ifad-response-details" class="form-control mb-2" placeholder="Enter Text" style="background-color: ghostwhite;" required></textarea>

          <label for="ifad-unsatisfactory-explanation">c) Please explain why, if the response or actions taken are not satisfactory</label>
          <textarea id="ifad-unsatisfactory-explanation" class="form-control mb-2" placeholder="Enter Text" style="background-color: ghostwhite;" required></textarea>

          <label for="ifad-desired-resolution">d) How do you wish to see the complaint resolved?</label>
          <textarea id="ifad-desired-resolution" class="form-control mb-2" placeholder="Enter Text" style="background-color: ghostwhite;" required></textarea>

          <label for="ifad-other-matters">e) Do you have any other matters or facts (including supporting documents) that you would like to share?</label>
          <textarea id="ifad-other-matters" class="form-control mb-2" placeholder="Enter Text" style="background-color: ghostwhite;" required></textarea>
      </div>
  </div>
</div>

        <div class="text-right">
          <button type="submit" class="btn btn-primary" style="width: 150px; font-size: 18px; font-weight: bold;">Submit</button>
        </div>
      </div>
    </div>
  </div>  
</div>
  
    <script type="text/javascript">
      document.getElementById("sidebarCollapse").addEventListener("click", function() {
          document.getElementById("sidebar").classList.toggle("active");
          closeAllSubmenus();
      });

      document.querySelectorAll('.list-unstyled.components .dropdown-toggle').forEach(function(item) {
          item.addEventListener('click', function() {
              document.getElementById("sidebar").classList.add("active");
          });
      });

      function closeAllSubmenus() {
          document.querySelectorAll("#sidebar .collapse.show").forEach(function(element) {
              element.classList.remove("show");
          });
      }
  </script>