{% include 'base.html' %}

<body>
    <div class="wrapper">
        {% include 'route/sidebar.html' %}
        <div id="content">
            <div class="container-fluid">
                <div>
                    <div>
                        <div class="card-body">
                            <div class="text-center mb-4" style="margin-bottom: 1rem!important;">
                                <h4 style="background-color: #264653; color: #fff; padding: 10px;">REGISTRATION</h4>
                            </div>  
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center mb-4 border-div">
                                        <h5 style="color: #264653; padding: 10px; margin-bottom: 0;">TABLE LIST</h5>
                                    </div>                                    
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Name</th>
                                                    <th class="text-center">RCU</th>
                                                    <th class="text-center">PCU</th>
                                                    <th class="text-center">DESIGNATION</th>
                                                    <th class="text-center">STATUS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">Dee T. Ayye</td>
                                                    <td class="text-center">Region XIII - Caraga</td>
                                                    <td class="text-center">Surigao del Sur</td>
                                                    <td class="text-center">Developer</td>
                                                    <td class="text-center">
                                                        <div class="status-container">
                                                            <input id="statusSwitch" checked="true" type="checkbox" class="switch" onchange="updateStatus()">
                                                            <span id="statusText">ACTIVE</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                
    </div>
    

        <script type="text/javascript">
    document.getElementById("sidebarCollapse").addEventListener("click", function() {
        document.getElementById("sidebar").classList.toggle("active");
        closeAllSubmenus();
    });

    document.querySelectorAll('.list-unstyled.components .dropdown-toggle').forEach(function(item) {
        item.addEventListener('click', function() {
            document.getElementById("sidebar").classList.add("active");
        });
    });

    function closeAllSubmenus() {
        document.querySelectorAll("#sidebar .collapse.show").forEach(function(element) {
            element.classList.remove("show");
        });
    }
  
    function updateStatus() {
        var statusSwitch = document.getElementById('statusSwitch');
        var statusText = document.getElementById('statusText');

        if (statusSwitch.checked) {
            statusText.innerText = 'ACTIVE';
            statusText.style.color = 'green';
            statusText.style.fontWeight = 'bold';
        } else {
            statusText.innerText = 'INACTIVE';
            statusText.style.color = 'red';
            statusText.style.fontWeight = 'bold';
        }
    }
    </script>
</body>