<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>RAPID Form</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <script defer src="../static/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="../static/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <h3 text>Panel</h3>
            </div>

            <ul class="list-unstyled components">  
                <li>
                    <a href="Sidebar.html"><i class="fas fa-home"></i> <span class="icon-text">Home</span></a>
                </li>
                <li>
                    <a href="#page_Submenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-chart-line"></i> <span class="icon-text">Track Progress</span></a>
                    <ul class="collapse list-unstyled" id="page_Submenu1">
                        <li>
                            <a href="Form.html"><i class="fas fa-file-alt"></i> Form</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#page_Submenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-exclamation-circle"></i> <span class="icon-text">IFAD Complaints</span></a>
                    <ul class="collapse list-unstyled" id="page_Submenu2">
                        <li>
                            <a href="IFAD.html"><i class="fas fa-clipboard"></i> Form</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-tachometer-alt"></i>     Dashboard</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="logout-btn"><i class="fas fa-sign-out-alt"></i> <span class="icon-text">Logout</span></a>
                </li>
            </ul>
        </nav>

        <div id="content">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                </div>
            </nav>               
        </div>
    </div>

    <script src="../static/js/jquery.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    
    <script type="text/javascript">
        document.getElementById("sidebarCollapse").addEventListener("click", function() {
            document.getElementById("sidebar").classList.toggle("active");
        });
    </script>
</body>
</html>