@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    position: fixed;
    height: 100vh;
    overflow-y: hidden;
    top: 0; 
    left: 0; 
    z-index: 1030;
    min-width: 250px;
    max-width: 250px;
    background: #a9c5e6;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #90b5df;
}

#sidebar ul.components {
    padding: 20px 0;
    border-top: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #90b5df;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #90b5df;
}


a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: 250px; 
}

#sidebar.active + #content {
    margin-left: 0; 
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

    #content {
        margin-left: 0; 
        width: 100%;
    }
}


.btn-info{
    color: #fff;
    background-color: #90b5df;
}

.btn-info:hover{
    color: #fff;
    background-color: #7699c2;
}

.card {
    border: 1.5px solid #bdbcbc; 
    border-radius: 10px; 
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
    margin-bottom: 20px;
  }
  hr {
    border-top: 1.5px solid #bdbcbc;
  }
  label {
    color:#4d4d4d;
    font-weight: 500;
    padding-top: 10px;
  }
  .btn-primary {
    background-color: #4caf50; 
    border-color: #4caf50; 
  }