/* Import Google Fonts */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* Navbar styles */
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

/* Separator line */
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* Sidebar styles */
.wrapper {
    width: 100%;
    align-items: stretch;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width:50px;
    min-height: 100%;
    z-index: 1;
    background: #264653;
    color: #fff;
    transition: all 0.3s;
    float: right;
    font-size: 16px;
}


#sidebar.active {
    width: 250px;
}

#sidebar .sidebar-header {
    background: #264653;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    padding-left: 13px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #264653;
    background: #fff;
}


#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

#sidebar .list-unstyled.components li span.icon-text {
    visibility: hidden;
    font-size: 0; 
    opacity: 0; 
    transition: font-size 0.3s, visibility 0.3s, opacity 0.3s; 
}

#sidebar.active .list-unstyled.components li span.icon-text {
    visibility: visible;
    font-size: 16px; 
    opacity: 1; 
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #264653;
}

ul ul a:hover {
    padding-left: 40px !important;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* Content area */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    padding-left: 70px;
}

#sidebar.active + #content {
    margin-left: 180px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    #content {
        margin-left: 0; 
        width: 100%;
    }
}

.btn-info {
    font-size: 24px;
    cursor: pointer;
    padding: 0 17px;
    color: #fff;
    background-color: #264653;
    border: none;
    width: 100%;
    border-radius: 0;
}

.btn-info:hover {
    color: #264653;
    background-color: white;
    border: none;
}   

/* Card styles */
.card {
    border: 1.5px solid #bdbcbc; 
    border-radius: 10px; 
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}


hr {
    border-top: 1.5px solid #ffffff;
}

/* Label styles */
label {
    color: #4d4d4d;
    font-weight: 500;
    padding-top: 10px;
}

/* Primary button styles */
.btn-primary {
    background-color: #264653; 
    border: none; 
}

.btn-primary:hover{
    color: #264653;
    background-color: rgb(204, 203, 203);
    border: none; 
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.card {
    margin-right: 0;
    margin-left: 0;
}

#sidebar .logout-btn {
    padding-left: 14px;
    cursor: pointer;
    text-align: left;
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0; 
    z-index: 1; 
  }

  #sidebar.active .dropdown-toggle::after {
    display: block;
}

#sidebar .dropdown-toggle::after {
    display: none;
}

#sidebar ul ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-in-out;
}

#sidebar ul ul.collapse.show {
    max-height: 90px;
}

/*table*/

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #ffffff, #f8f8f8);
    border:#adadad ;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #adadad;
    border-right: 1.5px solid  #adadad;
    border-left: 1.5px solid  #adadad;
    
  }
  
  th {
    background-color: #264653;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    border-right: 1.5px solid white;
    text-align: center;
  }
  
  th:last-child {
    border-right: none;
  }
  
  tr:hover {
    background-color: #d3d3d3;
  }
  
  tr:nth-child(odd) {
    background-color: rgb(238, 238, 238);
  }
  
  @media (max-width: 768px) {
    table {
      border-radius: 0;
      box-shadow: none;
    }
  }  

  .custom-table {
    font-family: 'Poppins', sans-serif;
}

.border-div {
    border: 2px solid #d1d1d1;
    border-radius: 5px;
}

/*toggle*/

.switch {
    position: relative;
    height: 1.5rem;
    width: 3.5rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 9999px;
    background-color: rgba(100, 116, 139, 0.377);
    transition: all .3s ease;
      
}

.status-container {
    display: flex;
    align-items: center;
    justify-content: center;

}



#statusText {
    font-weight: bold;
    font-size: 13px;
    width: 70px; /* Adjust the width as needed */
    display: inline-block;
    text-align: center;
   
}
.statusSwitch.switch {

    margin-top: 10px;
}

.switch:checked {
    background-color: rgba(77, 175, 80, 1);
}

.switch::before {
    position: absolute;
    content: "";
    left: calc(2.1rem - 2rem);
    top: calc(1.5rem - 1.6rem);
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
    border: 1px solid rgba(100, 116, 139, 0.527);
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
    transition: all .3s ease;
}

.switch:hover::before {
    box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)
}

.switch:checked:hover::before {
    box-shadow: 0 0 0px 8px rgba(77, 175, 80, .15)
}

.switch:checked:before {
    transform: translateX(100%);
    border-color: rgba(77, 175, 80, 1);
}
@media (max-width: 768px) {
    .status-container {
        flex-direction: column;
        align-items: flex-start;
    }

    #statusText {
        margin-left: 0;
        margin-top: 5px; /* Adjust the margin-top as needed */
    }

    .switch {
        margin-top: 5px; /* Adjust the margin-top as needed */
    }
}