<nav id="sidebar">
      <div class="sidebar-header text-center">
          <FontAwesomeIcon type="button" id="sidebarCollapse" class="btn btn-info" style="padding: 10px;">
              <i class="fas fa-align-left"></i> 
          </FontAwesomeIcon>
      </div>

      <ul class="list-unstyled components">  
          <li>
              <a href="/Sidebar"><i class="fas fa-home"></i> <span class="icon-text">Home</span></a>
          </li>
          <li>
              <a href="#page_Submenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-chart-line"></i> <span class="icon-text">Track Progress</span></a>
              <ul class="collapse list-unstyled" id="page_Submenu1">
                  <li>
                      <a href="/Tracking_Form"><i class="fas fa-file-alt"></i> Form</a>
                  </li>
                  <li>
                      <a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#page_Submenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-exclamation-circle"></i> <span class="icon-text">IFAD Complaints</span></a>
              <ul class="collapse list-unstyled" id="page_Submenu2">
                  <li>
                      <a href="/IFAD_Form"><i class="fas fa-clipboard"></i> Form</a>
                  </li>
                  <li>
                      <a href="#"><i class="fas fa-tachometer-alt"></i>     Dashboard</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#" class="logout-btn"><i class="fas fa-sign-out-alt"></i> <span class="icon-text">Logout</span></a>
          </li>
      </ul>
  </nav>